body
{
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    row-gap: 20px;
}

header
{
    grid-column: 1 / span 3;
}

.uitleg
{
    grid-column: 2;
    align-content: center;
    text-align: center;
    padding-top: 20px;
}

.flexbox
{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portfolioButton
{
    font-family: monospace;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 45px;
}

